@tailwind base;
@tailwind components;
@tailwind utilities;



header {
  margin-bottom: 20px; /* Space below the header */
}

/* Additional styling for navigation if needed */
nav a {
  padding: 10px 15px; /* Add padding to navigation links */
}




*/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: 'Times New Roman', serif; 
  background-color: #181818;
  color: #e5e5e5; 
  line-height: 1.6;
}

/* Link styles */
a {
  color: #e63946;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #fca311; 
}

h1 {
  font-size: 2.5rem; 
  font-weight: bold;
  text-align: center; 
  margin: 1.5rem 0; 
}
p {
  text-align: center;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Times New Roman', serif; /* Change to Times New Roman */
  color: #ff4c60; 
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


footer {
  background-color: #111; 
  color: #888; 
}


.image-container {
  position: relative;
  overflow: hidden; 
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}



img {
  height: 50vh; 
  width: 100%;  
  object-fit: cover;
}


.text-center {
  text-align: center;
}

/* Book image styling */
.book-image {
  display: block;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}